* {
    outline: none !important;
}

#quick-support {
    background: url(../img/background_02.jpg) no-repeat center center fixed;
    background-size: cover;
}

.site-quick-support {
    padding-bottom: 0;
    overflow: hidden;
}

.section-white,
.section-blue {
    margin: 0;
    padding: 80px 0;
    display: block;
    width: 100%;
    clear: both;
    background: white;
    text-align: center;
    overflow: hidden;
}

.site-quick-support .contact-box {
    float: left;
    width: 100%;
    border-radius: 12px;
    height: 640x;
}

.color-contact {
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.site-quick-support .site-info {
    float: left;
    width: 100%;
    text-align: left;
    font-size: 0;
    padding: 80px 40px;
}

.site-quick-support h5 {
    font-size: 32px;
    font-weight: 600;
    color: #0f2027;
}

.site-quick-support .site-info p {
    float: left;
    width: 100%;
    font-size: 15px;
    font-weight: normal;
    color: #FFFFFF;
    line-height: 1.7;
    padding: 40px 0 40px 0;
}

.site-quick-support p,
.site-quick-support address {
    float: left;
    color: #FFFFFF;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    padding: 1.125rem 0;
    width: 100%;
    font-style: normal;
    margin: 0;
    padding: 0 0 0 52px;
    transition: 300ms linear;
    transition-property: color;
    line-height: 1.5;
}

a:hover,
a:active,
a:focus,
a:visited {
    text-decoration: none;
    color: #a549e9;
}

a {
    text-decoration: none;
    color: #2b8dd9;
    transition: 300ms linear;
    transition-property: color;
    display: inline-block;
}

.site-quick-support .site-box-row h6 {
    float: left;
    font-size: 25px;
    color: #0f2027;
    line-height: 1;
    padding: 0;
    margin: 0;
}

.site-quick-support .site-box-row {
    float: left;
    width: 100%;
    padding-bottom: 50px;
}

.site-quick-support p {
    float: left;
    color: #FFFFFF;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    padding: 1.125rem 0;
    width: 100%;
    font-style: normal;
    margin: 0;
    padding: 0 0 0 52px;
    transition: 300ms linear;
    transition-property: color;
    line-height: 1.5;
}