<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Contacto 📱</title>
    <link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- CSS-->
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="{% static '/css/contacto.css' %}">

</head>

<body>
    <section id="quick-support" class="site-quick-support section-white">
        <div class="container">
            <div class="contact-box color-contact">
                <div class="col-xs-12">
                    <div class="box">

                        <!-- INFO -->
                        <div class="container-fluid">
                            <div class="site-info">
                                <h5> Información de Contacto</h5>
                                <p>Oficina de abogados “Lex” es una sociedad de abogados, conformada el año 2010, por abogados que egresan de la misma Universidad. Actualmente prestamos nuestros servicios legales atendiendo a personas o empresas que solicitan
                                    asistencia legal.
                                </p>

                                <!-- BOX -->
                                <a href="tel:+5692845785" class="site-box-row">
                                    <!-- ICON -->
                                    <h6><i class="fa fa-phone"></i> Fono </h6>
                                    <!-- PARAGRAPH -->
                                    <p>+569 284 578 55 </p>
                                </a>

                                <!-- BOX -->
                                <a href="mailto:abogadosLEX@gmail.com" class="site-box-row last">
                                    <!-- ICON -->
                                    <h6><i class="fa fa-envelope"></i> E-mail</h6>
                                    <!-- Mail -->
                                    <p>abogadosLEX@gmail.com</p>
                                </a>

                                <!-- BOX -->
                                <a target="_blank" href="https://acortar.link/Hv934" class="site-box-row">
                                    <!-- ICON -->
                                    <h6><i class="fa fa-map-marker"></i> Localización</h6>
                                    <!-- ADDRESS -->
                                    <p>Localización, Parque Almagro 125, Santiago, CHILE</p>
                                    <br>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>