<footer>
    <div class="container-fluid bg-dark text-white">
        <div class="row py-5">
            <div class="col-3 ms-5">
                <h3 class="display-4 ">Lex Abogados</h3>
                <div class="d-flex justify-content-around mt-5" style="width: 150px;">
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                </div>
            </div>
            <div class="col-7 d-flex justify-content-end me-5">
                <div class="d-flex flex-column">
                    <h4 class="fw-bolder">Enlances</h4>
                    <hr>
                    <p>Inicio</p>
                    <p>Sobre Nosotros</p>
                    <p>Contacto</p>
                </div>
            </div>

        </div>
    </div>
</footer>