{% extends 'pages/home.html' %}
{% load static %}

{% load poll_extras %}


{% block content %}

<main>
    <div class="container-fluid row mx-auto">
        <div class="col-12 col-sm-3 col-lg-2">
            <div class="container-fluid bg-dark text-white rounded-2 mt-3 px-1">
                <div class="d-flex flex-column pt-5">
                    <i class="fas fa-user fa-4x mx-auto"></i>
                    <p class="mx-auto mt-2">{{request.user.username|title}}</p>
                </div>
                <div class="container-fluid p-2 pb-5">
                    <a href="{% url 'funcionario' 'inicio' %}" class="text-decoration-none"><h4 class="text-white">Inicio</h4></a>
                    <a href="{% url 'funcionario' 'soli' %}" class="text-decoration-none"><h4 class="text-white">Solicitudes</h4></a>
                    <a href="{% url 'funcionario' 'presu' %}" class="text-decoration-none"><h4 class="text-white">Presupuestos</h4></a>
                    <a href="{% url 'funcionario' 'contr' %}" class="text-decoration-none"><h4 class="text-white">Contratos</h4></a>
                    <a href="{% url 'funcionario' 'caus' %}" class="text-decoration-none"><h4 class="text-white">Causas</h4></a>
                    {% if user|is_group:"abogado"%}
                    <a href="{% url 'ver_ingresos' %}" class="text-decoration-none"><h4 class="text-white">Ingresos</h4></a>

                    {%endif%}
                </div>
                <div class="d-flex justify-content-end pb-4 me-4">
                    <a href="{% url 'logout' %}" class="text-decoration-none text-white ">Cerrar Sessión <i class="fas fa-sign-out-alt fa-lg"></i></a>
                </div>
            </div>
        </div>
        <div class="col col-lg-10">
            <div class="container border rounded-2 shadow mt-3 pb-5">
                <div class="d-flex justify-content-between pt-3">
                    <h1 class="">{{nombre}}</h1>
                    
                </div>
                <!-- Pagina de Inicio -->
                {% if 'inicio' in request.path %}
                    <div class="row pt-3">
                        <div class="col">
                            <div class="container border rounded-2 p-2 shadow-sm">
                                <div class="ms-2">
                                    <a href="{% url 'funcionario' 'soli' %}" class="text-dark text-decoration-none">
                                        <div class="d-flex justify-content-around">
                                            <h1 class="display-2 ">{{solicitudes.count}}</h1>
                                            <i class="fas fa-pen-alt fa-2x my-auto me-2"></i>
                                        </div>
                                        <small >Solicitudes</small>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="container border rounded-2 p-2 shadow-sm">
                                <div class="ms-2">
                                    <a href="{% url 'funcionario' 'presu' %}" class="text-dark text-decoration-none">
                                        <div class="d-flex justify-content-around">
                                            <h1 class="display-2">{{presupuestos.count}}</h1>
                                            <i class="fas fa-file-invoice-dollar fa-2x my-auto me-2"></i>
                                        </div>
                                        <small>Presupuestos</small>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="container border rounded-2 p-2 shadow-sm">
                                <div class="ms-2">
                                    <a href="{% url 'funcionario' 'soli' %}" class="text-dark text-decoration-none">
                                        <div class="d-flex justify-content-around">
                                            <h1 class="display-2">{{contratos.count}}</h1>
                                            <i class="fas fa-file-contract fa-2x my-auto me-2"></i>
                                        </div>
                                        <small>Contratos</small>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="container border rounded shadow-sm">
                        <h2 class="my-3">Ultimas Solicitudes</h2>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Cliente</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Tipo</th>
                                    <th scope="col">Estado</th>
                                    {% if user|is_group:"tecnico"%}
                                    <th ></th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{solicitudes.0.cliente}}</td>
                                    <td>{{solicitudes.0.fecha|date:'d M Y'}}</td>
                                    <td>{{solicitudes.0.get_tipo_display}}</td>
                                    <td>{{solicitudes.0.get_estado_display}}</td>
                                    {% if user|is_group:"tecnico"%}
                                    <td><a href="{% url 'revisar_solicitud' solicitudes.0.id%}" class="btn btn-primary">Ver</a></td>
                                    {%endif%}
                                </tr>
                                <tr>
                                    <td>{{solicitudes.1.cliente}}</td>
                                    <td>{{solicitudes.1.fecha|date:'d M Y'}}</td>
                                    <td>{{solicitudes.1.get_tipo_display}}</td>
                                    <td>{{solicitudes.1.get_estado_display}}</td>
                                    {% if user|is_group:"tecnico"%}
                                    <td><a href="{% url 'revisar_solicitud' solicitudes.1.id%}" class="btn btn-primary">Ver</a></td>
                                    {%endif%}
                                </tr>
                                <tr>
                                    <td>{{solicitudes.2.cliente}}</td>
                                    <td>{{solicitudes.2.fecha|date:'d M Y'}}</td>
                                    <td>{{solicitudes.2.get_tipo_display}}</td>
                                    <td>{{solicitudes.2.get_estado_display}}</td>
                                    {% if user|is_group:"tecnico"%}
                                    <td><a href="{% url 'revisar_solicitud' solicitudes.2.id%}" class="btn btn-primary">Ver</a></td>
                                    {%endif%}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                {% elif 'soli' in request.path %}
                <!-- Pagina de solicitudes -->
                    
                    <div class="container border rounded shadow-sm my-2">
                        <h5 class="my-3">Lista de solicitudes</h5>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Cliente</th>
                                    <th scope="col">Id</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Tipo</th>
                                    <th scope="col">Estado</th>
                                    {% if user|is_group:"tecnico"%}
                                    <th scope="col"></th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for solicitud in solicitudes %}
                                    <tr>
                                        <td>{{solicitud.cliente}}</td>
                                        <td>{{solicitud.id}}</td>
                                        <td>{{solicitud.fecha|date:'d M Y'}}</td>
                                        <td>{{solicitud.get_tipo_display}}</td>
                                        <td>{{solicitud.get_estado_display}}</td>
                                        {% if user|is_group:"tecnico"%}
                                        <td><a href="{% url 'revisar_solicitud' solicitud.id%}" class="btn btn-primary">Ver</a></td>
                                        
                                        {%endif%}
                                    </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                {% elif 'presu' in request.path%}
                <!-- Pagina de presupuesto -->
                    {% if user|is_group:"tecnico"%}
                    <div class="container-fluid border rounded p-2 bg-primary my-2">
                        <div class="container">
                            <a href="{% url 'add_presupuesto_pages'%}" class="d-flex flex-row text-decoration-none text-white my-auto">
                                <i class="fas fa-plus-circle my-auto me-2"></i> 
                                <h5 class="my-auto">Agregar Presupuesto</h5>
                            </a>
                        </div>
                    </div>
                    {%else%}
                    {%endif%}
                    <div class="container border rounded shadow-sm my-3">
                        <h3 class="my-3">Listado de solicitudes con presupuestos</h3>

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Cliente</th>
                                    <th scope="col">Solicitud</th>
                                    <th scope="col">Tipo</th>
                                    <th scope="col">Valor</th>
                                    <th scope="col">Pagado</th>
                                    <th scope="col"></th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for presupuesto in presupuestos %}
                                    <tr>
                                        <td>{{presupuesto.solicitud.cliente}}</td>
                                        <td>{{presupuesto.solicitud.id}}</td>
                                        <td>{{presupuesto.solicitud.get_tipo_display}}</td>
                                        <td>$ {{presupuesto.valor}}</td>
                                        <td>{{presupuesto.pagado}}</td>
                                        {% if user|is_group:"tecnico"%}
                                            <td><a href="{% url 'presupuesto_inicial' presupuesto.solicitud.id%}" class="btn btn-primary">Ver</a></td>
                                        {% elif user|is_group:"abogado"%}
                                            <td><a href="{% url 'contrato_page' presupuesto.id%}" class="btn btn-primary">Ver</a></td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% elif 'contr' in request.path %}
                <!-- Página de contratos -->
                {% if user|is_group:"abogado"%}
                <div class="container border rounded bg-primary p-2">
                    <a href="{%url 'add_contrato'%}" class="text-white "><i class="fas fa-plus-circle my-auto me-2"></i>Agregar contrato</a>
                </div>
                {%endif%}
                <div class="container border rounded shadow-sm my-3">
                    <h5 class="my-3">Listado de contratos</h5>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Cliente</th>
                                <th scope="col">Solicitud</th>
                                <th scope="col">Tipo</th>
                                <th scope="col">Contrato</th>
                                <th scope="col">Estado</th>
                                {% if user|is_group:"abogado"%}
                                <th scope="col"></th>
                                {% endif%}
                            </tr>
                        </thead>
                        <tbody>
                            {% for contrato in contratos %}
                                <tr>
                                    <td>{{contrato.presupuesto.solicitud.cliente}}</td>
                                    <td>{{contrato.presupuesto.solicitud.id}}</td>
                                    <td>{{contrato.presupuesto.solicitud.get_tipo_display}}</td>
                                    <td><a href="{{contrato.archivo.url}}">Descargar Contrato</a></td>
                                    <td>{{contrato.get_estado_display}}</td> 
                                                 
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% elif 'caus' in request.path %}
                <!-- Página de causas -->
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Solicitud</th>
                                <th>Fecha</th>
                                <th>Estado</th>
                                <th>Juzgado</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for causa in causas%}
                                <tr>
                                    <td>{{causa.contrato.presupuesto.solicitud.cliente}}</td>
                                    <td>{{causa.contrato.presupuesto.solicitud.id}}</td>
                                    <td>{{causa.fecha|date:'d M Y'}}</td>
                                    <td>{{causa.get_etapa_display}}</td>
                                    <td>{{causa.tribunal}}</td>
                                    <td><a href="{% url 'ver_causa' causa.id%}" class="btn btn-primary">Ver</a></td>
                                </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                {% else %}
                    <h2>nada</h2>
                {% endif%}

            </div>
        </div>
    
    </div>
</main>

{% endblock %}