{% extends 'pages/home.html' %}
{% load static %}


{% block content %}
<main>

    <div class="contianer-img border" style="position: relative;">
        <img src="{% static '/img/img-back.jpg' %}" id="back-img" class="card-img" />
        <div id="img-text">
            <h4 class="display-1">LEX Abogados</h4>
            <p>Seguridad y confianza</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-2">
                <div class="d-flex flex-column">
                    <i class="fas fa-user-circle fa-5x mx-auto"></i>
                    <small class="mx-auto">Iniciar</small>

                </div>

            </div>
        </div>
    </div>
    <div class="container-fluid p-5">
        <div class="container border-bottom shadow my-3">
            <div class="row p-3">
                <div class="col-md-6 how-img my-auto p-2">
                    <img src="{% static '/img/ab1.jpg'%}" class="border img-fluid" alt="" />
                </div>
                <div class="col-md-6 bg-dark text-white p-3">
                    <h2 class="display-4">Nosotros</h2>
                    <hr>
                    <h3 class="h3-home">Puede confiar en nosotros</h3>
                    <p class="p-home">Nuestra oficina se caracteriza por la cercanía de los abogados con sus clientes,
                        desarrollando relaciones
                        de confianza que entregan satisfacción y seguridad. Nuestra misión es ser una real solución y
                        apoyo
                        para
                        cada uno de nuestros clientes.</p>
                </div>
            </div>
        </div>
        <div class="container border-bottom shadow my-3 ">
            <div class="row p-3">
                <div class="col-md-6 bg-dark text-white p-3">
                    <h2 class="display-4">Atención personalizada</h2>
                    <hr>
                    <h3 class="h3-home">Nuestros servicios es eficientes y serio</h3>
                    <p class="p-home">Oficina jurídica profesional, cuenta con asesoría seria de abogados con manejo de
                        varios temas de interés
                        común, atención personalizada y rápida en la solución de conflictos de relevancia jurídica.</p>
                </div>
                <div class="col-md-6 my-auto">
                    <img src="{% static '/img/ab2.jpg'%}" class="border img-fluid" alt="" />
                </div>
            </div>
        </div>
        <div class="container border-bottom shadow my-3">
            <div class="row p-3">
                <div class="col-md-6 how-img my-auto">
                    <img src="{% static '/img/ab3.jpg' %}" class="border img-fluid" alt="" />
                </div>
                <div class="col-md-6 bg-dark text-white p-3">
                    <h2 class="display-4">¿Qué podemos ofrecerte?</h2>
                    <hr>
                    <h3 class="h3-home">Completa asesoría en las siguientes áreas:</h3>
                    <p class="p-home">Divorcio en Chile, Divorcios para chilenos que viven en el extranjero, Tuición,
                        Visitas, Alimentos,
                        Violencia intrafamiliar, Juicios por Paternidad, Declaración de bienes familiares, Autorización
                        para
                        enajenar bienes de menores de edad,
                        Posesiones efectivas y Herencias, entre otros</p>
                </div>
            </div>
        </div>
        <div class="container border-bottom shadow my-3">
            <div class="row p-3">
                <div class="col-md-6 bg-dark text-white p-3">
                    <h2 class="display-4">¿Más información?</h2>
                    <hr>
                    <h4 class="subheading">Contactanos</h4>
                    <p class="p-home">No dudes visitar la seccion "Contacto" donde encontrarás las diversas maneras de
                        acceder a nuestros
                        servicios.</p>
                </div>
                <div class="col-md-6 how-img my-auto">
                    <img src="{% static '/img/ab4.jpg' %}" class="border img-fluid" alt="" />
                </div>
            </div>

        </div>
</main>
{% endblock %}