<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lex</title>
    {% load static %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static '/css/main.css'%}">
</head>

<body>
    <nav class="main-navigation">
        <div class="navbar-header animated fadeInUp">
            <a class="navbar-brand" href="#">Oficina Abogados LEX</a>
        </div>
        <ul class="nav-list">
            <li class="nav-list-item">
                <a href="{% url 'home' %}" class="nav-link">Inicio</a>
            </li>
            <li class="nav-list-item">
                <a href="paginas/tarjeta.html" class="nav-link">Pagos</a>
            </li>
            <li class="nav-list-item">
                <a href="paginas/RegistroCausas.html" class="nav-link">Registro Causas</a>
            </li>
            <li class="nav-list-item">
                <a href="{% url 'contacto' %}" class="nav-link">Contacto</a>
            </li>
            <li class="nav-list-item">
                <a href="paginas/login.html" class="nav-link">Iniciar Sesion</a>
            </li>
        </ul>
    </nav>
    <br><br><br>
    <div class="how-section1">
        <div class="row">
            <div class="col-md-6 how-img">
                <img src="{% static '/img/ab1.jpg'%}" class="rounded-circle img-fluid" alt="" />
            </div>
            <div class="col-md-6">
                <h4>Oficina Abogados LEX</h4>
                <h4 class="subheading">Tienes nuestra confianza!!!!</h4>
                <p>Nuestra oficina se caracteriza por la cercanía de los abogados con sus clientes, desarrollando relaciones de confianza que entregan satisfacción y seguridad. Nuestra misión es ser una real solución y apoyo para cada uno de nuestros clientes.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Atendido personalmente por sus abogados.</h4>
                <h4 class="subheading">Nuestros servicios son eficientes, rápidos, serios y con un precio acorde al mercado actual.</h4>
                <p>Oficina jurídica profesional, cuenta con asesoría seria de abogados con manejo de varios temas de interés común, atención personalizada y rápida en la solución de conflictos de relevancia jurídica. Atención todos los días de la semana.
                    y también fuera de la jornada laboral.</p>
            </div>
            <div class="col-md-6 how-img">
                <img src="{% static '/img/ab2.jpg'%}" class="rounded-circle img-fluid" alt="" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 how-img">
                <img src="{% static '/img/ab3.jpg' %}" class="rounded-circle img-fluid" alt="" />
            </div>
            <div class="col-md-6">
                <h4>¿Qué podemos ofrecerte?</h4>
                <h4 class="subheading">Completa asesoría en las siguientes áreas:</h4>
                <p>Divorcio en Chile, Divorcios para chilenos que viven en el extranjero, Tuición, Visitas, Alimentos, Violencia intrafamiliar, Juicios por Paternidad, Declaración de bienes familiares, Autorización para enajenar bienes de menores de edad,
                    Posesiones efectivas y Herencias, etc...</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>¿Qué estas esperando?</h4>
                <h4 class="subheading">Contactanos!!</h4>
                <p>No dudes visitar la seccion "Contacto" donde encontrarás las diversas maneras de acceder a nuestros servicios.</p>
            </div>
            <div class="col-md-6 how-img">
                <img src="{% static '/img/ab4.jpg' %}" class="rounded-circle img-fluid" alt="" />
            </div>
        </div>
    </div>
</body>

</html>