{% extends 'pages/home.html' %}
{% load static %}


{% block content %}

<br><br><br>
<div class="how-section1">
    <div class="contenedor">
        <h2>Listado de solicitudes</h2>
        <table class="table table-striped">

            <tr>
                <th>Rut</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Correo</th>
                <th>Tipo</th>
            </tr>

            {% for solicitud in solicitudes %}

            <tr>
                <td>{{ solicitud.cliente }}</td>
                <td>{{ solicitud.cliente.nombre }}</td>
                <td>{{ solicitud.cliente.apellido_paterno }} {{ solicitud.cliente.apellido_materno }}</td>
                <td>{{ solicitud.cliente.email}}</td>
                <td>{{ solicitud.get_tipo_display }}</td>
            </tr>
            {% endfor %}
    </div>
    </table>
</div>
{% endblock %}