{% extends 'pages/home.html' %}
{% load static %}


{% block content %}


    <div class="container my-4">
        <h2 class="text my-5">Listado de solicitudes</h2>
        <table class="table table-striped border">

            <tr>
                <th>Rut</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Correo</th>
                <th>Tipo</th>
                <th></th>
            </tr>

            {% for solicitud in solicitudes %}

            <tr>
                <td>{{ solicitud.cliente }}</td>
                <td>{{ solicitud.cliente.nombre }}</td>
                <td>{{ solicitud.cliente.apellido_paterno }} {{ solicitud.cliente.apellido_materno }}</td>
                <td>{{ solicitud.cliente.email}}</td>
                <td>{{ solicitud.get_tipo_display }}</td>
                <td><a href="{% url 'revisar_solicitud' solicitud.id %}" class="btn btn-primary">Revisar</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}