{% extends 'pages/home.html' %}
{% load static %}


{% block content %}
<main>
    <div class="container my-3 border rounded">
        <h1 class="display-4">Presupuesto</h1>
        <div class="container  p-2">
            <div class="container ">
                <form action="" method="POST" class="form mx-auto my-auto">
                    {% csrf_token %}
                    <label for="valor">Valor $</label>
                    {{form.valor}}
                    <input type="submit" value="Agregar" class="btn btn-danger">
                </form>
            </div>
            
            {% for message in messages%}
                {% if message.tags == 'info'%}
                    <div class="alert alert-success my-3" role="alert">
                        {{message}}
                    </div>
                {% else %}
                <div class="alert alert-danger my-3" role="alert">
                    {{message}}
                </div>
                {% endif%}
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
